@import "constants.css";

/* view and edit alert box */
#view-delete-box, #edit-button-box {

  /* display is changed in js file when clicked */
  display: none;

  /* position of the box on the screen */
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 50rem;
  height: 37.5rem;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

/* form -- very outer box */
.view-delete-box-content, 
.edit-box-content {
  background-color: white;
  margin: 5% auto 15% auto;
  border-radius: 1.25rem;
  box-sizing: border-box;
  width: 70%;
}

/* view outer box border */
.view-delete-box-content {
  border: 0.313rem solid #c30202;
}

/* edit outer box border */
.edit-box-content {
  border: 0.313rem solid #743e0d;
}

/* div wrapping text and buttons container */
.view-delete-container,
.edit-container {
  padding: 1rem;
  text-align: center;
}

/* font-size */
.view-delete-text,
.edit-text {
  margin: 10% auto 10% auto;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.688rem;
}

/* display of the 'yes' and 'no' buttons */
.view-delete-choose {
  display: flex;
  justify-content: center;
}

/* style of clickable buttons */
#view-yes-delete-button,
#view-no-delete-button,
#ok-edit-button {
  opacity: 0.9;
  width: 50%;
  border-radius: 1.25rem;
  margin: 0.625rem;
  padding: 7%;
  font-family: var(--primary-font);
  font-weight: 700;
  color: white;
}

/* 'no' button color */
#view-no-delete-button {
  background-color: #d3bfbf;
}

/* 'yes' button color */
#view-yes-delete-button {
  background-color: #ef7f7f;
}

/* 'ok' button color */
#ok-edit-button {
  background-color: #d3bfbf;
}

/* button hover effects */
#ok-edit-button:hover, 
#view-yes-delete-button:hover,
#view-no-delete-button:hover {
  opacity: 1;
  cursor: pointer;
}

/* resize the alert box based on screen size (1000px) */
@media only screen and (max-width: 1000px) {
  #view-delete-box, #edit-button-box {
    top: 43%;
    width: 37.5rem;
    height: 25.75rem;
  }
}

/* resize the alert box based on screen size (600px) */
@media only screen and (max-width: 600px) {
  #view-delete-box, #edit-button-box {
    top: 39%;
    width: 30rem;
    height: 21rem;
  }
}
