:root,
:host {
  --theme-color: #ff7a00;
  --primary-color: #ffffff;
  --secondary-color: #f8eae0;
  --nav-text-color: #ffffff;
  --body-text-color: #000000;
  --primary-font: "Montserrat", sans-serif;
  --top-bar-font-size: 2.5rem;
  --top-bar-font-size-mobile: 1.875rem;
  --top-bar-side-margin: 3.75rem;
  --top-bar-side-margin-mobile: 1.25rem;
  --top-bar-height: 8.625rem;
  --top-bar-height-mobile: 5.625rem;
  --stage-side-margin: 3.75rem;
  --stage-side-margin-mobile: 1.25rem;
  --button-size: 6.25rem;
  --button-size-mobile: 4rem;
  --button-margin: 0.625rem;
  --button-margin-mobile: 0.313rem;
  --h1-font-size: 1.875rem;
  --h2-font-size: 1.563rem;
  --user-input-font-size: 1.25rem;
}
