<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="data:,">
		
		<!-- specify the CSS files required  -->
		<link rel="stylesheet" href="../style/constants.css">
		<link rel="stylesheet" href="../style/global.css">
		
		<!-- the following is required for loading the font we are using  -->
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	</head>

	<body>
		<header>
			
			<!-- you can copy paste this nav section to your pages-->
			<nav>
				<!-- button or header can go -->
				<h1>My Recipes</h1>
				<!-- <a href=""><img src="../assets/edit-button.svg" alt="test"></img></a> -->
				<div id="button-container">
					<!-- put the {url} you want to go after the user click the anchor tag -->
					<!-- should be another internal page -->
					<a href="https://ucsd.edu/"><img src="../assets/add-button.svg" alt="test"></img></a>
					<a href="https://www.ucdavis.edu/"><img src="../assets/delete-button.svg"></img></a>
				</div>
			</nav>
            
		</header>
	</body>
</html>
