<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" href="data:,">
		
		<!-- specify the CSS files required  -->
		<link rel="stylesheet" href="../style/constants.css">
		<link rel="stylesheet" href="../style/global.css">
		<link rel="stylesheet" href="../style/edit-page-buttons.css">
		
		<!-- the following is required for loading the font we are using  -->
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	</head>

	<body>
		<header>
			
			<!-- you can copy paste this nav section to your pages-->
			<nav>
				<!-- <a href=""><img src="../assets/edit-button.svg" alt="test"></img></a> -->
				<img id="edit-page-back-button" src="../assets/back-button.svg" alt="back"></img>
				<img id="edit-page-save-button" src="../assets/add-button.svg" alt="add"></img>
			</nav>

			




            
		</header>
	</body>
</html>
