<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe App</title>
    <!-- specify the CSS files required  -->
    <link rel="stylesheet" href="../style/constants.css">
    <link rel="stylesheet" href="../style/global.css">
    
    <!-- the following is required for loading the font we are using  -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
      rel="stylesheet">
    <script src="../js/home.js"></script>
    <script src="../js/recipe-card.js"></script>
    <link rel="stylesheet" href="../style/home.css">
  </head>
  <body>
    <header>
      <!-- This header section holds the nav bar -->
      <nav>
        <!-- home page nav bar has one header on the left and only one button on the right -->
        <h1>My Recipes</h1>
        <div id="button-container">
          <a href="https://ucsd.edu/">
            <img src="../assets/add-button.svg" alt="test">
          </a>
        </div>
      </nav>
    </header>
    <main>
        <!-- main contains a container for all the recipes -->
        <div class="recipe-list">
          <!-- all our recipes from local storage fill up the inside of this div container  -->


          <!-- <a class="recipe_cell" href="https://ucsd.edu/">
            <card>
              <span class="recipe_name">Pasta Carbonara1</span>
            </card>
          </a> 

          <a class="recipe_cell" href="https://ucsd.edu/">
            <card>
              <span class="recipe_name">Pasta Carbonara2</span>
            </card>
          </a>

          <a class="recipe_cell" href="https://ucsd.edu/">
            <card>
              <span class="recipe_name">Mushroom Pasta</span>
            </card>
          </a>

          <a class="recipe_cell" href="https://ucsd.edu/">
            <card>
              <span class="recipe_name">Spicy Mushroom Pasta</span>
            </card>
          </a>

          <a class="recipe_cell" href="https://ucsd.edu/">
            <card>
              <span class="recipe_name">Extreme Spicy Mushroom Pasta</span>
            </card>
          </a> -->



        </div>
    </main>
  </body>
</html>