<!DOCTYPE html>
<html>
  <head>
    <!-- insert the browser tab name of your page -->
    <title>Home Page</title>
    <link rel="icon" href="data:," />
    <link rel="stylesheet" href="../style/constants.css" />
    <link rel="stylesheet" href="../style/global.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap"
    />
    <link rel="stylesheet" href="../style/home.css" />
    <!-- insert other style and script files below  -->
    <script src="../js/data.js"></script>
    <script src="../js/home.js"></script>
    <script type="module" src="../js/recipe-cell.js"></script>
  </head>

  <body>
    <header>
      <nav>
        <!-- if your page has a title, uncomment the following line -->
        <!-- Title -->
        My Recipe
        <div id="button-container">
          <!-- add the buttons on the right side -->
          <img src="../assets/add-button.svg" alt="button" />
        </div>
      </nav>
    </header>
    <main>
      <div id="stage">
        <div class="recipe-list">
          <!-- Recipe Cards Added here -->
        </div>
      </div>
    </main>
  </body>
</html>
