<!DOCTYPE html>
<html>
	<head>
        <title>View page</title>
		<link rel="icon" href="data:,">
		
		<!-- specify the CSS files required  -->
		<link rel="stylesheet" href="../style/constants.css">
		<link rel="stylesheet" href="../style/global.css">
		<link rel="stylesheet" href="../style/viewpage.css">
		
		<!-- the following is required for loading the font we are using  -->
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
        
        <script src="../module/data.js"></script>
        <script src="../js/view.js"></script>
    </head>

	<body>
      
		<header>
			<!-- you can copy paste this nav section to your pages-->
			<nav>
				<!-- button or header can go -->
				<h1>My Recipes</h1>
				<!-- <a href=""><img src="../assets/edit-button.svg" alt="test"></img></a> -->
				<div class = "button-container" id="button-container">
					<!-- put the {url} you want to go after the user click the anchor tag -->
					<!-- should be another internal page -->
					<a id="view-page-add-button"><img src="../assets/add-button.svg" alt="test"></a>
					<a id="view-page-delete-button"><img src="../assets/delete-button.svg"></a>
				</div>
			</nav>
		</header>

		
		<main>
            <div class="outerframe">
                <div class="dish-name">
                    <h2 id="recipe-name">Pasta Carbonara</h2>
                </div>
                <div class="ingredients">
                    <h3>Ingredients</h3>
                    <p id="recipe-ingredients">Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                        
                </div>
                <div class="steps">
                    <h3>Steps</h3>
                    <p id="recipe-preparation">Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
                <div class="notes">
                    <h3>Notes</h3>
                    <p id="recipe-notes">Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit, 
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                </div>
            </div>

		</main>
        
	</body>

</html>