/* 
 * I moved all the alert-box related CSS code
 * to this file because the alert-box should
 * be implemented similar to the top bar we
 * did last time. However, I am not modyfing
 * anything because we are running out of time.
 *
 *                                    ---- Lyu
 */
@import "constants.css";

/* make the nav bar buttons look clickable when hovered */
.view-button {
  cursor: pointer;
}

/* Delete pop-up box */
.view-delete-box {
  /* display is changed in js file when clicked */
  display: none;

  /* position of the box on the screen*/
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 800px;
  height: 600px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 20px;
  overflow: hidden;
}

/* Form -- very outer box */
.view-delete-box-content {
  background-color: white;
  margin: 5% auto 15% auto;
  border: 5px solid #c30202;
  border-radius: 20px;
  box-sizing: border-box;
  width: 70%;
}

/* Div wrapping text and buttons container */
.view-delete-container {
  padding: 16px;
  text-align: center;
}

/* font-size taken from figma design */
.view-delete-text {
  margin: 10% auto 10% auto;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}

/* display of the yes or no buttons */
.view-delete-choose {
  display: flex;
  justify-content: center;
}

/* Yes and No buttons */
.view-yes-delete-button,
.view-no-delete-button {
  opacity: 0.9;
  width: 50%;
  border-radius: 20px;
  margin: 10px;
  padding: 7%;
  font-family: var(--primary-font);
  font-weight: 700;
  color: white;
}

/* Yes and no button hover effects */
button:hover {
  opacity: 1;
  cursor: pointer;
}

/* No button */
.view-no-delete-button {
  background-color: #d3bfbf;
}

/* No button */
.view-yes-delete-button {
  background-color: #ef7f7f;
}

/* cursor will become pointer when user hover over the buttons */
.edit-button {
  cursor: pointer;
}

/* edit box */
.edit-box {
  /* display is changed in js file when clicked */
  display: none;

  /* position of the box on the screen*/
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -380px;

  z-index: 1;
  width: 800px;
  height: 600px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 20px;
  overflow: hidden;
}

.edit-box-content {
  background-color: white;
  margin: 5% auto 15% auto;
  border: 5px solid #743e0d;
  border-radius: 20px;
  box-sizing: border-box;
  width: 70%;
}

.edit-container {
  padding: 16px;
  text-align: center;
}

/* font-size taken from figma design */
.edit-text {
  margin: 10% auto 10% auto;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}

.ok-edit-button {
  opacity: 0.9;
  width: 50%;
  border-radius: 20px;
  margin: 10px;
  padding: 7%;
  font-family: var(--primary-font);
  font-weight: 700;
  color: white;
  background-color: #d3bfbf;
}

button:hover {
  opacity: 1;
}

/* Resize the alert box based on screensize*/
@media only screen and (max-width: 1000px) {
  .view-delete-box {
    /* Resize alert box */
    width: 600px;
    height: 412px;
  }
}