:root {
	--theme-color:          #FF7A00;
    --primary-color:        #FFFFFF;
    --secondary-color:      #F8EAE0;
    --nav-text-color:       #FFFFFF;
    --body-text-color:      #000000;
    --primary-font:         'Montserrat', sans-serif;
    --nav-font-size:        30px;
    --h1-font-size:         48px;
    --h2-font-size:         36px;
    --user-input-font-size: 30px;
}
