@import "constants.css";

/* for the headers on the edit page */
#edit-page-header {
    margin-top:         30px;
    margin-bottom:      30px;
    padding-left:       20px;
    font-family:        var(--primary-font);
    font-size:          var(--h2-font-size);
    font-weight:        medium;
}
