@import "constants.css";

/* the edit container settings */
#edit {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

/* the header settings */
#edit h2 {
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
  padding-left: 1.25rem;
  font-weight: 600;
  font-family: var(--primary-font);
  font-size: var(--h2-font-size);
}

/* the input and textarea settings */
#edit *:not(h2) {
  margin: 0.625rem;
  width: calc(100% - 1.25rem);
  padding: 1.25rem;
  border-radius: 1.25rem;
  font-family: var(--primary-font);
  background-color: var(--secondary-color);
}

/* the input settings */
#edit input {
  height: 3.75rem;
  font-weight: bold;
  font-size: var(--h1-font-size);
}

/* the textarea settings */
#edit textarea {
  resize: none;
  height: 12.5rem;
  font-size: var(--user-input-font-size);
}

/* cursor will become pointer and button becomes darker when hovering */
.edit-button:hover {
  cursor: pointer;
  filter: brightness(90%);
}
