@import "constants.css";

/* foundation for all the text inputs */
#edit-page-input-name,
#edit-page-input-ingredients,
#edit-page-input-steps,
#edit-page-input-notes {
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  font-family: var(--primary-font);
  background-color: var(--secondary-color);
}

/* text input for the name */
#edit-page-input-name {
  height: 60px;
  font-weight: bold;
  font-size: var(--h1-font-size);
  /* margin-bottom: 30px; */
}

/* text input for the other elements */
#edit-page-input-ingredients,
#edit-page-input-steps,
#edit-page-input-notes {
  resize: none;
  height: 200px;
  font-size: var(--user-input-font-size);
  /* margin-bottom: 30px; */
}
