@import "constants.css";

/* define variables */
:root {
  --desktop-cell-height: 11.375rem;
  --mobile-cell-height: 7.5rem;
  --desktop-list-margin-top: 9.375rem;
  --mobile-list-margin-top: 6.25rem;
  --max-cell-width: 100%;
  --cell-left-margin: 0rem;
  --cell-top-margin: 3.75rem;
  --card-margins: 1rem;
  --card-font-size: 3rem;
}

/* cursor will become pointer and button becomes darker when hovering */
.home-button:hover {
  cursor: pointer;
  filter: brightness(90%);
}

/* spacing between each recipe card */
.recipe-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* center the recipe cards */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* class applied to an anchor tag */
.recipe-cell-link {
  text-decoration: none;
}

/* spacing between each recipe card */
recipe-cell {
  margin-top: 40px;
}

/* display of each recipe card */
card {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  height: var(--desktop-cell-height);
  margin-top: var(--card-margins);
  margin-bottom: var(--card-margins);
  padding: 1rem;
  background: #f8eae0;
  border: 0.313rem solid #ff7a00;
  border-radius: 1.25rem;
}

/* darken recipe card when hovering */
card:hover {
  cursor: pointer;
  filter: brightness(90%);
}

/* text of recipe cards */
.recipe-name {
  display: flex;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: var(--card-font-size);
  line-height: 59px;
  color: #000000;
}

@media only screen and (max-width: 600px) {
  .recipe-name {
    font-size: 1.5rem;
    word-wrap: break-word;
  }
  card {
    height: var(--mobile-cell-height);
  }
}
