@import "constants.css";
/* * {
    background-color: var(--secondary-color);
    color: var(--body-text-color);
    border-radius: 1rem;
} */
:root {
    --desktop-cell-height: 182px;
    --tablet-cell-height: 140px;
    --mobile-cell-height: 120px;

    --desktop-list-margin-top: 150px;
    --mobile-list-margin-top: 100px;

    --max-cell-width: 900px;
    --cell-left-margin: 0px;
    --cell-top-margin: 60px;
    --card-margins: 1rem;
}


.recipe_list {
    height: 100vh;
    margin-top: var(--desktop-list-margin-top);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.recipe_cell {
    text-decoration: none;
}

card {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    
    /* This line adjusts the scaling of the cards as the view gets thinner */
    width: min(var(--max-cell-width), 90vw);
    height: var(--desktop-cell-height);
    margin-top: var(--card-margins);
    margin-bottom: var(--card-margins);
    padding: 1rem;

    background: #F8EAE0;
    border: 5px solid #FF7A00;
    border-radius: 20px;
}

.recipe_name {
    display: flex;
    
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    
    color: #000000;
}

/* Media query for tablets and larger phones*/
@media only screen and (max-width: 768px) {
    .recipe_list {
        margin-top: var(--mobile-list-margin-top);
    }
    .recipe_name {
        font-size: 36px;
    }
    card {
        height:  var(--tablet-cell-height);
    }
}

/* Media query for very small mobile devices */
@media only screen and (max-width: 480px) {
    .recipe_name {
        font-size: 24px;
    }
    card {
        height: var(--mobile-cell-height);
    }
}