@import "constants.css";

body {
  background-color: var(--theme-color);
}

/* for web viewing */
.splash-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 12vw;
  margin-bottom: 0.313rem
}

.center-text {
  display: block;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.938rem; 
}

#counter {
  position: absolute;
  justify-content: center;
  text-align: right;
  top: 0.625rem;
  right: 6.25rem;
  margin-left: 5vw;
  margin-top: 5vw;
  font-family: 'Lucida Console', 'Courier New', monospace;
  font-size: 1.063rem; 
}