@import "constants.css";

/* set background color */
body {
  background-color: var(--theme-color);
}

/* for web viewing */
.splash-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 12vw;
  margin-bottom: 0.313rem;
}

/* block of text under logo */
.center-text {
  display: block;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  font-size: 0.938rem;
}

/* redirecting in.. notification on splash page */
#counter {
  position: absolute;
  justify-content: center;
  text-align: right;
  top: 0.625rem;
  right: 6.25rem;
  margin-left: 5vw;
  margin-top: 5vw;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 1.063rem;
}

@media only screen and (max-width: 600px) {
  .splash-logo {
    margin-top: 32vw;
  }
  .center-text {
    font-size: .87rem;
  }
  #counter {
    font-size: .65rem;
    margin-left: 10vw;
    right: 2rem;
  }
}
